


body {
                text-align: center;
                margin: 0px;
                height: 100%;
            }
            #myForm{
                display: inline-block;
                margin-top: 5%;
            }
            .searchBox {
                border: 0px;
                color: #005d9b;
                background-color: #b3e0ff;
                height: 50px;
                width: 300px;
                padding: 5px;
                font-size: 25px;
                font-family: sans-serif;
                text-align: center;
            }
            input[type=text]::placeholder{
                color: #ffffff;
                padding: 2px;
                font-size: 25px;
                font-family: sans-serif;
            }
            .searchBut, .speak, .closeBtn {
                height: 50px;
                color: white;
                background-color: #4db8ff;
                border: 2px solid #4581a8;
                font-size: 25px;
                font-family: sans-serif;
            }
            .searchDiv {
                list-style-type: none;
                margin: 0;
                padding: 0;
		        width:100%;
                overflow: hidden;
                background-color: #5fbdfc;
                font-size: 20px;
                font-family: sans-serif;
            }

            li {
                float: left;
                margin-left: 10px;
            }

            li a, .dropbtn {
                display: inline-block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            li a:hover, .dropdown:hover .dropbtn {
                background-color: #aaddff;
            }

            li.dropdown {
                display: inline-block;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #0080bb;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 4;
            }

            .dropdown-content input,.history p {
                color: #ffffff;
                text-decoration: none;
                display: block;
                margin: auto;
            }

            .dropdown-content a {
                    color: rgb(255, 255, 255);
                    text-decoration: none;
                    display: block;
                    text-align: left;
                }

            .listWord {
                background-color: #0080bb;
                border: 0px;
                height: 35px;
                color: white;
                font-size: 25px;
                font-family: sans-serif;
                width: 100%;
            }

            .listWord:hover {
                background-color: #004464;
            }

            .dropdown:hover .dropdown-content {
                display: block;
            }

            .active {
                 background-color: #0776c0;
                 height: 22px;
            }
            
            h1 {
                font-size: 3em;
                color: rgb(124, 192, 255);
            }

            .resultForm, .speak{
                display: inline-block;
                margin-top: 10px;
            }
            #result {
                border: 0px;
                color: #005d9b;
                background-color: #b3e0ff;
                max-height: 150px;
                max-width: 800px;
                padding: 15px;
                font-size: 25px;
                font-family: sans-serif;
                border-radius: 10px;
                text-align: center;
                resize: none;
            }

            .lang {
                color: white;
                background-color: #1f87cc;
                border: 0px;
                font-size: 20px;
                width: 60px;
                height: 57px;
            }
            .searchBut, .speak, .closeBtn, .lang{
                 -webkit-appearance: none;
            }
            input[type=image] {
                margin: 10px;
            }

            input[type=image]:hover {
                border: 5px solid #1c4d6e ;
            }
 #exitBtn{
	 
	background-color: #73a2ef;
	float: right;
	border-radius: 25%;
	color: darkblue;
}
#exitBtn:hover{
 	color: blue;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modalWindow {
    text-align: left;
    background-color: #85b3fc;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 1em;

}
#Instruction {
    background-color: #6098f2;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    color:#1e488c;
    box-sizing: border-box;
    display: grid;
    
    grid-row-gap: 0.25px;
    border-color: grey;
}

*, *:before, *:after{
  box-sizing:border-box;
}

div.foo{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.letter{
  display: inline-block;
  font-weight: 500;
  font-size: 4em;
  margin-top: 10%;
  position: relative;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}

@keyframes colorchange
{
  0%   {color: rgb(253, 85, 85);}
  25%  {color: rgb(230, 230, 65);}
  50%  {color: rgb(72, 216, 132);}
  75%  {color: rgb(78, 177, 223)}
  100% {color: rgb(253, 85, 85);}
}

@-webkit-keyframes colorchange
{
    0%   {color: rgb(253, 85, 85);}
  25%  {color: rgb(247, 247, 100);}
  50%  {color: rgb(245, 161, 105);}
  75%  {color: rgb(78, 223, 97)}
  100% {color: rgb(253, 85, 85);}
}

.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.letter, .letter:before, .letter:after{
  transition: all 0.3s ease-in-out;
}
.letter:before{
  text-shadow: 
    -1px 0px 1px rgba(172, 222, 255, 0.8),
    1px 0px 1px rgba(0, 0, 0, 0.8);
    border: black;
    z-index: 3;
    transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
    animation: colorchange 50s infinite;
    -webkit-animation: colorchange 50s infinite; 
}
.letter:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}

.searchDiv .icon {
    display: none;
  }

@media screen and (max-width: 820px) {
    .searchDiv li:not(:first-child) {display: none;}
    .searchDiv a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 820px) {
    .searchDiv.responsive {position: relative;}
    .searchDiv.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .searchDiv.responsive li {
      float: none;
      display: block;
      text-align: left;
    }
  }

  .fa{
      padding: 10px;
      padding-top: 15px;
      color: white;
  }